body {
    padding: 0px 0px 30px 0px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 100%;
    background-image: url('../images/achtergrond.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: #e3ecf0;
}

#aanmeldenlogo {
    width: 20px;
    float: right;
    padding: 0 10px 0 0;
}

#wrap {
    width: 70%; /* Spans the width of the page */
    height: 50px;
    margin: 0 auto;
    /* Ensures there is no space between sides of the screen and the menu */
    z-index: 99;
    /* Makes sure that your menu remains on top of other page elements */
    position: relative;
    background-color: #366b82;
}

.navbar {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
    /* Ensures that the menu doesn�t affect other elements */
    border-right: 1px solid #54879d;
    border-radius: 4px 4px 0px 0px;
    height: 50px;
}

.navbar li {
    height: auto;
    width: 150px; /* Each menu item is 150px wide */
    float: left; /* This lines up the menu items horizontally */
    text-align: center; /* All text is placed in the center of the box */
    list-style: none;
    /* Removes the default styling (bullets) for the list */
    font: normal bold 12px/1.2em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #366b82;
    display: inline-block;
}

.navbar li:hover {
    background-color: #54879d;
}

.navbar li.rightMenu {
    float: right;
}

.navbar a {
    padding: 18px 0;
    /* Adds a padding on the top and bottom so the text appears centered vertically */
    border-left: 1px solid #54879d;
    /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
    border-right: 1px solid #1f5065;
    /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
    text-decoration: none; /* Removes the default hyperlink styling. */
    color: white; /* Text color is white */
    display: block;
}

.navbar li ul {
    display: none; /* Hides the drop-down menu */
    height: auto;
    margin: 0; /* Aligns drop-down box underneath the menu item */
    padding: 0; /* Aligns drop-down box underneath the menu item */
}

.navbar li:hover ul {
    display: block;
    /* Displays the drop-down box when the menu item is hovered over */
}

.navbar li ul li {
    background-color: #54879d;
}

.navbar li ul li a {
    border-left: 1px solid #1f5065;
    border-right: 1px solid #1f5065;
    border-top: 1px solid #74a3b7;
    border-bottom: 1px solid #1f5065;
}

.navbar li ul li a:hover {
    background-color: #366b82;
}

.submitLink {
    width: 150px;
    padding: 18px 0;
    background-color: #54879d;
    border-left: 1px solid #1f5065;
    border-right: 1px solid #1f5065;
    border-top: 1px solid #74a3b7;
    border-bottom: 1px solid #1f5065;
    color: white;
    cursor: pointer;
}

.submitLink:hover {
    background-color: #366b82;
}

div {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    font-size: 34px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 0px 0px 25px 0px;
}

div{
    word-wrap: break-word;
}

.login {
    width: 50%;
    margin: 50px auto;
    /*background: #F8F8F8;*/
    background: rgba(248,248,248, .7);
    border-radius: 4px;
    max-width: 1200px;
    min-width: 300px;
}

.login-top {
    /*background: #d7e7ee;*/
    background: rgba(215,231,238, 1);
    border-radius: 4px 4px 0px 0px;
    padding: 11px 0px;
    text-align: center;
    height: 125px;
}

.login-top h2 {
    font-size: 30px;
    font-weight: 700;
    color: #7A7A7A;
}

.login-top h3 {
    font-size: 15px;
    font-weight: 600;
    color: #7A7A7A;
}

.login-bottom {
    padding: 23px 23px 23px 23px;
}

.user, .user-in, .user-mail {
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    width: 25%;
    min-width: 150px;
    border-image: none;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 5px;
    margin-bottom: 1em;
}

.user input[type="text"], .user-in input[type="password"], .user-mail input[type="email"], .user input[type="number"]
{
    background: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    color: #616161;
    padding: 17px 15px 17px 15px;
    border: none;
    width: 90%;
    -webkit-appearance: none;
}

.user i {
    background: url(../images/user.png) no-repeat 0px 0px;
    width: 27px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
}

.user-in i {
    background: url(../images/key.png) no-repeat 0px 7px;
    width: 27px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
}

.user-mail i {
    background: url(../images/email.png) no-repeat 0px 0px;
    width: 27px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
}

.keepme {
    padding: 6px 0px;
    width: 100%;
}

.keep-loginbutton {
    float: right;
}

.keep-registrerenbutton {
    float: left;
}

.keep-loginbutton input[type="submit"], .keep-registrerenbutton input[type="submit"],
.keep-loginbutton2 input[type="submit"] {
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    width: 100%;
    padding: 8px 26px;
    border-radius: 5px;
    margin: 0px;
    display: inline-block;
    cursor: pointer;
    outline: medium none;
    border: medium none;
    background: #366b82 none repeat scroll 0% 0%;
    float: right;
    word-wrap: normal;
}

.keep-loginbutton2 input[type="submit"] {
    margin: 10px 0px;
    width: 100%;
}

.keep-registrerenbutton input[type="submit"] {
    float: left;
}

.forgot {
    padding: 15px 0px;
}

.forgot p {
    float: left;
}

.forgot p a {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.forgot-register {
    float: right;
}

.forgot-register p {
    font-size: 14px;
    font-weight: 600;
    color: #878787;
}

.forgot-register p a {
    color: #000;
}

.forgot p a {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.fout {
    padding: 0 0 10px 4px;
    color: red;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        padding-right: 18px
    }
}

.fotorama {
    padding: 15px;
}
