.login {
    width: 80%;
}
#spelbordTable {
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #d7e7ee;
}
#spelbordTable td {
    border: 1px solid black;
    height: 76px;
    width: 76px;
}
#spelbordTable th{
    border: 1px solid black;
}
#leeftijdPlant {
    color: blue;
}
#dagenTeller {
    color: red;
}
.legende {
    width: 750px;
    margin: 0 auto;
    font-size: 12px;
}
.legende img {
    width: 40px;
}
.titels {
    float: right;    
}
.buttons {
    float: right;
}
.legende {
    float: right;
}
.topBar {
    width: 32%;
}
.volgendeDagButton {
    width: 15%;
    margin: 0 auto;
}
.keep-loginbutton {
    margin-right: 10px;
}
.smurfenImg {
    width: 50px;
}