.login {
    width: 80%;
}
#spelbordTable {
    border: 2px solid black;
    margin: 0 auto;
}
#spelbordTable td {
    border: 1px solid black;
    height: 74px;
    
}
.smurfenImg {
    width: 80%;
}
